.totalsell{
    background-color: rgb(129, 154, 248);
}
.pending{
    background-color: rgb(240, 160, 69);
}
.upcoming img{
   height: 100%;
   width:100%;
}
.link{
    text-decoration: none;
    color: black;
    margin-top: 5x;
    
}

.button{
    background-color: rgb(236, 152, 25);
}