.header{
    background-image:url('./motorcycle-1941163_960_720.jpg');
   height: 100vh;
    background-size: cover;
    width: 100%;
    /* background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)) ; */
   

}

.explore:hover btn{
    background-color: brown;
}

.image{
height: 250px;
width: 100%;
}
/* .login{
    background-image: url("https://images.pexels.com/photos/2317408/pexels-photo-2317408.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    height: 100vh;
    width: 100%;
    background-size: cover;
} */



/* https://images.pexels.com/photos/2317408/pexels-photo-2317408.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940
https://images.pexels.com/photos/1119796/pexels-photo-1119796.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940 */

/* https://cdp.azureedge.net/products/USA/YA/2020/MC/SPORT/MT-10/50/MATTE_RAVEN_BLACK/2000000034.jpg */